<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../../partials/admin/head');
        %>
</head>

<body>
    <%- include('../../../partials/admin/header',
        {
        current: 'home'
        });
        %>
    <div class="container mt-5">
        <p>そのような ID を持つ項目は存在しません。</p>
    </div>
</body>

</html>