version: '3.1'

services:
  db:
    image: mariadb:latest
    restart: always
    ports:
      - "3307:3306"
    volumes:
      - "./db_data:/var/lib/mysql"
    environment:
      MARIADB_ROOT_PASSWORD: "password" # `root`ユーザのパスワード
      MARIADB_DATABASE: "testdb" # 初期化時に作成するデータベース
      MARIADB_USER: "user" # 初期化時に作成するユーザ
      MARIADB_PASSWORD: "password" # 初期化時に作成するユーザのパスワード