version: '3.9'

services:
  db:
    image: mariadb:latest
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - type: bind
        source: "./data"
        target: "/var/lib/mysql"
    environment:
      MARIADB_ROOT_PASSWORD: "password" # `root`ユーザのパスワード
      MARIADB_DATABASE: "testdb" # 初期化時に作成するデータベース
      MARIADB_USER: "user" # 初期化時に作成するユーザ
      MARIADB_PASSWORD: "password" # 初期化時に作成するユーザのパスワード
