<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../partials/admin/head',
        {
            title: 'ホーム'
        });
    %>
</head>

<body>
    <%- include('../../partials/admin/header',
        {
        current: 'home'
        });
        %>
    
    <div class="container mt-4">
        <p>上のメニューから選んでください。</p>
    </div>
</body>

</html>