<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../partials/admin/head',
        {
            title: 'ホーム'
        });
    %>
</head>

<body>
    <%- include('../../partials/admin/header',
        {
        current: 'home'
        });
        %>
</body>

</html>