<!DOCTYPE html>
<html lang="ja">
<head>

</head>
<body>
    <form method="post" action="/admin/login">
        <input type="text" name="username">
        <input type="text" name="password">
        <button type="submit">ログイン</button>
    </form>
    <p></p>
</body>

</html>