<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"
            href="/admin">管理ページ</a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link<%- current == 'disaster' ? ' active' : '' %>"
                        href="/admin/disaster"><i class="fa-solid fa-burst"></i> 災害情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%- current == 'inquiry' ? ' active' : '' %>"
                        href="/admin/inquiry"><i class="fa-solid fa-comments"></i> お問い合わせ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%- current == 'news' ? ' active' : '' %>"
                        href="/admin/news"><i class="fa-solid fa-rss"></i> お知らせ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>