<div class="container mt-2">
    <h1>ダッシュボード</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active"
                aria-current="page"
                href="/admin/">災害情報</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="/admin/inquiry">お問い合わせ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="/admin/news">お知らせ</a>
        </li>
    </ul>
</div>